<template id="category-carousel-template">
    <div class="carousel">
        <div class="carousel-track-container">
            <ul class="carousel-track">
                <li class="carousel-slide current-slide">
                    <img class="carousel-image" src="images/category1.jpg" alt="Category 1">
                    <p>Category 1</p>
                </li>
                <li class="carousel-slide">
                    <img class="carousel-image" src="images/category2.jpg" alt="Category 2">
                    <p>Category 2</p>
                </li>
                <li class="carousel-slide">
                    <img class="carousel-image" src="images/category3.jpg" alt="Category 3">
                    <p>Category 3</p>
                </li>
                <!-- Add more categories as needed -->
            </ul>
        </div>
        <button class="carousel-button carousel-button-left">&lt;</button>
        <button class="carousel-button carousel-button-right">&gt;</button>
    </div>
</template>